.ShopItemContainer > .card {
  width: 350px;
  height: 350px !important;
  margin: 20px 25px;
  cursor: pointer;
  border: none !important;
}
.ShopItemContainer > .card:hover > .card-body > .card-footer > a {
  opacity: 100;
}
.ShopItemContainer > .card:hover > .card-body > .item-border {
  width: 200px;
}
.ShopItemContainer > .card > .card-img-top {
  margin: 15px auto;
  overflow: hidden;
  width: 200px;
  height: 155px;
  object-fit: contain;
  transition: transform 0.5s ease;
}
.ShopItemContainer > .card > .card-img-top:hover {
  transform: scale(1.5);
}

.card-footer > a {
  color: whitesmoke;
  background-color: black;
  margin: auto;
  width: 100%;
  opacity: 0;
  transition: 500ms;
  border-radius: 0px;
}
.card-footer > a:hover {
  color: rgb(223, 223, 223);
  background-color: grey;
  margin: auto;
}
.ShopItemContainer > .card > .card-body > .card-footer {
  margin: auto;
  border: none !important;
  color: none !important;
  background-color: white !important;
  border-top: none !important;
}
.item-border {
  margin: auto;
  margin-top: 10px;
  width: 20px;
  height: 2px;
  background-color: black;
  transition: 500ms ease;
}
@media screen and (max-width: 1300px) {
  .ShopItemContainer > .card {
    width: 225px;
  }
  .ShopItemContainer > .card > .card-body > .card-title {
    font-size: 15px;
    height: 25px;
    overflow-y: auto;
    text-overflow: ellipsis;
  }
  .ShopItemContainer > .card > .card-body > .card-text > .item-price {
    font-size: 20px;
  }
  .ShopItemContainer > .card > .card-body > .card-footer > a {
    margin: auto;
    opacity: 100;
  }
}

@media screen and (max-width: 750px) {
  .ShopItemContainer > .card {
    width: 200px;
  }
  .ShopItemContainer > .card:hover > .card-body > .item-border {
    width: 20px;
  }
  .ShopItemContainer > .card > .card-img-top:hover {
    transform: scale(1);
  }
}
