.HeaderDesktop {
  background-color: white;
}
.HeaderMobile {
  display: none;
}
.Header-1 {
  margin: auto 45px;
}
.Header-1 > .Header-name > a {
  font-size: 30px;
  color: black;
  text-decoration: none;
}
.Header-2 {
  margin: auto 50px;
}
.Header-3 {
  margin: auto;
}
.menu > .nav {
  font-size: 20px;
  --bs-nav-link-font-weight: 500;
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: #6c757d;
  --bs-nav-link-disabled-color: #6c757d;
  list-style: none;
  justify-content: center;
}
.menu > .nav:hover {
  cursor: pointer;
}
.form-control {
  width: 150px;
}
.Header-3 > .nav {
  --bs-nav-link-color: black;
  --bs-nav-link-hover-color: #6c757d;
  --bs-nav-link-disabled-color: #6c757d;
  list-style: none;
}
.Header-3 > .nav:hover {
  cursor: pointer;
}
.badge {
  right: 105px;
}
.cart-icon {
  margin: auto;
}
.dropdown-menu {
  width: 200px;
  height: 345px;
  inset: 0px auto auto -30px !important;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.dropdown-item > .card {
  margin: auto;
  margin-left: -10px;
  width: 175px;
  height: 75px !important;
}
img.dropdown-image {
  margin: 5px 5px;
  width: 45px;
  height: 60px;
  object-fit: contain;
}
h5.dropdown-title {
  font-size: 15px;
  margin-left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
p.dropdown-text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: black;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

/* Responsive Design */
@media screen and (max-width: 1300px) {
  .Header-1 {
    margin: auto;
  }
  .Header-2 {
    margin: auto;
  }
  .Header-3 {
    margin: auto;
    width: 240px !important;
  }
  .Header-3-form {
    padding: 0px;
  }
  .header-3-nav > .nav-item > .nav-link {
    padding: 0px;
  }
  .badge {
    right: 15px;
  }
}
@media screen and (max-width: 900px) {
  .HeaderDesktop {
    display: none;
  }
  .HeaderMobile > .row.p-2 {
    width: 100%;
  }
  .Header-1.col-2 {
    width: 50%;
  }
  .Header-3.col-2 {
    width: 50% !important;
    margin: auto;
  }
  .HeaderMobile {
    display: inline;
  }
  .header-3-item {
    margin: auto;
    margin-right: 0px;
  }
  .badge {
    right: 218px;
  }
  .mobile-menu-btn {
    margin-right: 0px;
  }
}
