.modal-title {
  font-weight: bold;
}
.modal-dialog {
  max-width: 850px !important;
}
.modal-body > .card {
  width: 750px;
  border: none !important;
  margin: auto;
}
.modal-body > .card:hover {
  cursor: auto;
}
.modal-image {
  margin: auto;
  width: 250px;
  height: 350px;
  object-fit: contain;
}
.modal-card-title {
  font-weight: 600;
}
.modal-card-category {
  font-weight: 400;
  margin: auto;
  margin-top: 20px;
}
.modal-card-line {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 1px;
  background-color: black;
}
.modal-card-description {
  height: 150px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: scroll;
  text-overflow: ellipsis;
}
.modal-close-button {
  background-color: black !important;
  color: white !important;
  width: 15%;
  border-radius: 0px !important;
  transition: 500ms ease !important;
}
.modal-close-button:hover {
  color: rgb(218, 218, 218) !important;
  background-color: rgb(121, 121, 121) !important;
}
.modal-add2card-button {
  width: 20%;
  background-color: black !important;
  border-radius: 0px !important;
  transition: 500ms ease !important;
}
.modal-add2card-button:hover {
  color: rgb(218, 218, 218) !important;
  background-color: rgb(121, 121, 121) !important;
}
@media screen and (max-width: 900px) {
  .modal-body > .card {
    width: 650px;
    border: none !important;
    margin: auto;
  }
  .modal-image {
    margin: auto;
    width: 225px;
    height: 350px;
    object-fit: contain;
  }
  .modal-dialog {
    max-width: 750px !important;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 750px) {
  .modal-body > .card {
    width: 350px;
    border: none !important;
    margin: auto;
  }
  .modal-image {
    margin: auto;
    width: 250px;
    height: 250px;
    object-fit: contain;
  }
  .modal-body > .card > .row {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .modal-body > .card > .row > .col-8 > .card-body {
    width: 350px !important;
  }
  .modal-body > .card > .row > .col-4 {
    margin: auto;
  }
  .modal-image {
    margin: auto;
    width: 125px;
    height: 250px;
    object-fit: contain;
  }
  .modal-dialog {
    max-width: 450px !important;
    margin-right: auto;
    margin-left: auto;
  }
  .modal-close-button {
    background-color: black !important;
    color: white !important;
    width: 20%;
    border-radius: 0px !important;
    transition: 500ms ease !important;
  }
  .modal-add2card-button {
    width: 30%;
    background-color: black !important;
    border-radius: 0px !important;
    transition: 500ms ease !important;
  }
}
