.mobile-search-bar {
  display: none;
}
@media screen and (max-width: 900px) {
  .mobile-search-bar {
    width: 100%;
    margin: auto;
    display: inline;
  }
  .mobile-search-nav {
    margin: auto;
  }
  .mobile-search-nav-item {
    margin: auto;
  }
  .mobile-search-input {
    width: 450px;
    height: 45px;
  }
  .form-price {
    margin: auto;
    width: 250px;
    height: 45px;
  }
}
