.mobile-search-bar {
  display: none;
}
@media screen and (max-width: 900px) {
  .mobile-search-bar {
    width: 100%;
    margin: auto;
    display: inline;
  }
  .mobile-search-nav {
    margin: auto;
  }
  .mobile-search-nav-item {
    margin: auto;
  }
  #mobile-search-input {
    width: 450px;
    height: 45px;
  }
  .form-price {
    margin: auto;
    width: 250px;
    height: 45px;
  }
}
@media screen and (max-width: 750px) {
  .mobile-search-nav {
    margin: auto;
  }
  .mobile-search-nav-item {
    margin: auto;
  }
  #mobile-search-input {
    width: 350px;
    height: 45px;
  }
  .form-price {
    margin: auto;
    width: 250px;
    height: 45px;
  }
}
@media screen and (max-width: 600px) {
  .mobile-search-nav {
    flex-direction: column;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .mobile-search-nav-item {
    margin: 10px auto;
  }
  #mobile-search-input {
    width: 315px;
    height: 45px;
  }
  .form-price {
    margin: auto;
    width: 250px;
    height: 45px;
  }
}